@import "tailwindcss";

@plugin "daisyui" {
  themes: cyberpunk;
}

@plugin "daisyui/theme" {
  name: "cyberpunk";
  default: true;

  --color-base-100: #1c1917;
  --color-base-200: #292524;
  --color-base-300: #57534e;
  --color-base-content: #e7e5e4;
  --color-neutral: #e7e5e4;
  --color-neutral-content: #191d24;
  --color-neutral-focus: #f8f8f8;
}
